@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&family=Roboto:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cousine&display=swap');
@import url("components/container.css");
@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/card.css");
@import url("components/socialnetworks.css");
body {
	color: white;
	background-color: #323232;
	font-family: 'Cousine', monospace;
	font-size: 18px;
	margin : 0px;
	text-align:center;
}

h1,h2,h3 {
	font-family: 'JetBrains Mono', monospace;
	font-weight: bold;
}
h2{
	color: #ec9e40;
    font-size: 30px;
    font-weight: lighter;
    font-weight: 700
}
a{
	text-decoration: none;
}
#introduction p{
	margin-bottom: 50px;
}
